@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../src/assets/images/bg-curve-desktop.svg);
  background-position: center 70rem;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}
